* {
    margin: 0;
    padding: 0; 
    font-family: sans-serif;
}

.container {
    width: 100%;
    height: 100vh; 
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.5)), url(/backgroundimgs/greatwallofchina2.jpeg);
    background-position: center;
    background-size: cover;
    padding-left: 6%;
    padding-right: 8%;
    box-sizing: border-box;
}
.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}
.logo{
    width: 100px;
    cursor: pointer;
    
}
.menu-icon{
    width: 50px;
    cursor: pointer;
    margin-left: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
    nav ul li{
        list-style: none;
        display: inline-block;
        margin-left: 20px;
}
nav ul li a{
    text-decoration: none;
    color: aqua;
    font-size: 15px;
}
video{
    flex: 1;
    width: 80vh;
    height: 75vh;
    margin-right: 20px;
    padding-left: 8%;
}
#credits{
    color: #FFF;
    padding-top: 3px;
}
.china{
    color: #FFF;
    display: flex;
    justify-content: center
}
.info{
    margin-top: 50px;
    padding-left: 6%;
    padding-right: 6%;
}
.bg2{
    width: 100%;
    height: 100vh; 
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.5)), url(/backgroundimgs/greatwallofchina2.jpeg);
    background-position: center;
    background-size: initial;
}
#img-1{
    width: 25%;
    height: 45%;
    border-radius: 10px 10px;
    position: relative;
    padding-top: 110px;
    padding-left: 90px;
}
.info-2{
    color: #FFF;
    position: flex;
    margin-left: 10px;
   


}

