* {
    margin: 0;
    padding: 0; 
    font-family: sans-serif;
}

.container {
    width: 100%;
    height: 100vh; 
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.5)), url(/backgroundimgs/greatwallofchina2.jpeg); 
    background-position: center;
    background-size: cover;
    padding-left: 6%;
    padding-right: 8%;
    box-sizing: border-box;
}
.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}
.logo{
    width: 100px;
    cursor: pointer;
    
}
.menu-icon{
    width: 50px;
    cursor: pointer;
    margin-left: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
    nav ul li{
        list-style: none;
        display: inline-block;
        margin-left: 20px;
}
nav ul li a{
    text-decoration: none;
    color: #FFF
}
video{
    flex: 1;
    width: 80vh;
    height: 75vh;
    margin-right: 20px;
    padding-left: 8%;
}
#credits{
    color: #FFF;
    padding-top: 3px;
}
.china{
    color: antiquewhite;
    display: flex;
    justify-content: center
}
.info{
    margin-top: 30px;
    padding-left: 6%;
    padding-right: 6%;
}
.info h1{
    letter-spacing: 1px;
    padding-bottom: 20px;
    font-family: bembo;
    color: antiquewhite;
    
}
.bg2{
    width: 100%;
    height: 100vh; 
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.5)), url(/backgroundimgs/greatwallofchina2.jpeg);
    background-position: center;
    background-size: initial;
}
#img-1{
    width: 25%;
    height: 45%;
    padding-top: 70px;
    padding-left: 90px;
}
.info-2{
    color: antiquewhite;
    display: flex;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 20px;
}
.containerpg{
    display: flex;
    align-items: center;
    justify-content: center;
}
.pagination{
    display: flex;
    align-items: center;
    background: transparent;
    color: #FFF;
    padding: 10px 40px;
    border-radius: 6px;
}
a{
    text-decoration: none;
    color: white;
}
.second-ul{
    margin: 20px 30px;
}
li.link{
    display: inline-block;
    margin: 0 10px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    line-height: 45px;
    cursor: pointer;
    background-position: -45px;
    transition: background-position 0.5s;
}
ul li.link.active{
    color: pink;
    background-image: linear-gradient(#656565, #656565);
    background-repeat: no-repeat;
    background-position: 0 0;
}
.btn1, .btn2{
    display: inline-flex;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    color: #FFF;
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}
.btn1 img{
    width: 24px;
    margin-right: 15px;
}
.btn2 img{
    width: 24px;
    margin-left: 15px;
}  
                        /* FOOTER */
.fcontainer{ 
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.ul2{
    list-style: none;
} 
.footer{
    background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
    width: 25%;
    padding: 0 40px;
}
.footer-col h4{
    font-size: 20px;
    color: #FFF;
    margin-bottom: 30px;
    font-weight: 500px;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 40px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    color: white;
    text-decoration: none;
    font-weight: 300;
    color: gray;
    display: block;
    transition: all 0.5s ease;
}
.footer-col ul li a:hover{
    color: white;
    padding-left: 10px;
}