*{
    margin: 0;
    padding: 0; 
    font-family: sans-serif;
}
body {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.5)), url(/backgroundimgs/chichenitza.jpg) no-repeat fixed center;
    background-size: cover;
}
.container {
    width: 100%;
    height: 100vh; 
    padding-left: 6%;
    padding-right: 8%;
    box-sizing: border-box;
    position: absolute;
    top: 0;
}
.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}
.logo{
    width: 100px;
    cursor: pointer;
    
}
.menu-icon{
    width: 50px;
    cursor: pointer;
    margin-left: 20px;
}
nav{
    flex: 1;
    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
     margin-left: 20px;
}
nav ul li a{
    text-decoration: none;
    color: #FFF;
}
h1, h2{
    letter-spacing: 4px;
    font-family: bembo;
    color: antiquewhite;
}
.chichen-container{
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-self: center;
}
.chichen-header{
    display: flex;
    color: #FFF;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    text-transform: uppercase;
}
.chichen-parts img{
    display: flex;
    height: 75vh;
    margin-left: 50px;
    border-radius: 5px;
}
.chichen-content{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
    padding-right: 150px;
    padding-bottom: 10px;
    text-align: start;
    color: antiquewhite;
}
.chichen-header-1{
    display: flex;
    align-items: start;
    justify-content: start;
    color: antiquewhite;
    margin-left: 50px;
}
.chichen-parts-1{
    display: flex;
    justify-content: end;
    align-items: end;
}
.chichen-parts-1 img{
    height: 40vh;
    margin-right: 50px;
    border-radius: 5px;
}
.chichen-content-1{
    display: flex;
    align-items: start;
    justify-content: start;
}
.chichen-content-1 span{
    display: flex;
    color: antiquewhite;
    margin-top: -250px ;
    margin-left: 50px ;
    margin-right: 550px;
}
.chichen-header-2{
    display: flex;
    align-items: end;
    justify-content: end;
    padding-right: 100px;
    padding-top: 60px;
    color: antiquewhite;
}
.chichen-parts-2{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}
.chichen-parts-2 img{
    height: 35vh;
    margin-left: 50px;
    margin-top: 10px;
}
.chichen-info-2{
    text-align: start;
    margin-top: -240px;
}
.chichen-content-2 span{
    display: flex;
    color: antiquewhite;
    padding-left: 410px;
    padding-right: 50px;
    flex-direction: column;
}
.chichen-header-3{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 20px;
}
.chichen-container-3{
    display: flex;
    height: 38vh;
}
.chichen-parts-3{
    display: flex;
    justify-content: start;
    align-items: start;
}
.chichen-parts-3 img{
    width: 100%;
    border-radius: 5px;
}
.chichen-content-3{
   display: flex;
   align-items: center;
   justify-content: center;
}
.chichen-info-3{
    display: flex;
    align-items: center;
    justify-content: center;
    color: antiquewhite;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
}
.containerpg{
    display: flex;
    align-items: center;
    justify-content: center;
}
.pagination{
    display: flex;
    align-items: center;
    background: transparent;
    color: #FFF;
    padding: 10px 40px;
    border-radius: 6px;
}
a{
    text-decoration: none;
    color: white;
}
.second-ul{
    margin: 20px 30px;
}
li.link{
    display: inline-block;
    margin: 0 10px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    line-height: 45px;
    cursor: pointer;
    background-position: -45px;
    transition: background-position 0.5s;
}
ul li.link.active{
    color: pink;
    background-image: linear-gradient(#656565, #656565);
    background-repeat: no-repeat;
    background-position: 0 0;
}
.btn1, .btn2{
    display: inline-flex;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    color: #FFF;
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}
.btn1 img{
    width: 24px;
    margin-right: 15px;
}
.btn2 img{
    width: 24px;
    margin-left: 15px;
}  
.col-parts img{
    width: calc(50% - 5px);
    margin-bottom: 10px;
}
.fcontainer{ 
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.ul2{
    list-style: none;
} 
.footer{
    background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
    width: 25%;
    padding: 0 40px;
}
.footer-col h4{
    font-size: 20px;
    color: #FFF;
    margin-bottom: 30px;
    font-weight: 500px;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 40px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    color: white;
    text-decoration: none;
    font-weight: 300;
    color: gray;
    display: block;
    transition: all 0.5s ease;
}
.footer-col ul li a:hover{
    color: white;
    padding-left: 10px;
}